fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-jose[cryptography]
supabase
pandas
numpy
openpyxl
xlrd>=2.0.1
prophet
plotly
groq
google-genai
cerebras-cloud-sdk
fpdf2
matplotlib
python-dotenv
redis
pdfplumber
python-docx
scikit-learn
scipy
pystan
